@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Press+Start+2P&display=swap');

body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ==================FONT================== */

    --font-14: 14px;
    --font-18: 18px;
    --font-24: 24px;
    --font-48: 48px;
    --font-96: 96px;
    /* ==================COLOR================== */
    --color-pink: #FF537E;
    --color-sky-blue: #58A8FF;
    --color-light-blue: #F7FBFF;

}

@media(max-width:1200px) {
    :root {
        --font-14: 14px;
        --font-18: 16px;
        --font-24: 20px;
        --font-48: 35px;
        --font-96: 70px;
    }
}

@media(max-width:992px) {
    :root {
        --font-14: 14px;
        --font-18: 16px;
        --font-24: 20px;
        --font-48: 35px;
        --font-96: 50px;
    }
}

@media(max-width:576px) {
    :root {
        --font-14: 12px;
        --font-18: 14px;
        --font-24: 18px;
        --font-48: 30px;
        --font-96: 50px;
    }
}

/*====================== FONT SIZE CLASS====================== */
.fs-14 {
    font-size: var(--font-14) !important;
}

.fs-18 {
    font-size: var(--font-18) !important;
}

.fs-20 {
    font-size: var(--font-20) !important;
}

.fs-24 {
    font-size: var(--font-24) !important;
}



.fs-96 {
    font-size: var(--font-96) !important;
}

.fs-48 {
    font-size: var(--font-48) !important;
}

/* ====================== FONT WEIGHT====================== */
.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

/* =========================================COLOR =========================================*/

.text-color-sky-blue {
    color: var(--color-sky-blue);
}

/*====================================== REAUSEABLE-CLASSES====================================== */

.main-heading {
    font-size: var(--font-96);
    font-weight: 400;
    /* line-height: 106px; */
}

.heading {
    font-size: var(--font-48);
    font-weight: 400;
}

.sub-heading {
    font-size: var(--font-24);
    font-weight: 400;
}

.para {
    font-size: var(--font-18);
    font-weight: 400;
}

.blue-btn {
    padding: 12px 32px;
    border-radius: 8px;
    background-color: var(--color-sky-blue);
    border: 1px solid transparent;
    color: white;
}

.pink-btn {
    padding: 12px 32px;
    border-radius: 8px;
    background-color: var(--color-pink);
    border: 1px solid transparent;
    color: white;
}

.blue-btn:hover {
    transition: all .2s ease-in-out;
    background-color: transparent;
    border: 1px solid #58A8FF;
    color: var(--color-sky-blue);
}

.pink-btn:hover {
    transition: all .2s ease-in-out;
    background-color: transparent;
    border: 1px solid #FF537E;
    color: var(--color-pink);
}

.bg-img-nav {
    background-image: url(../images/bg-img-nav.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 817px;
    background-size: cover;
}

.mw-564 {
    max-width: 564px;
}

.mw-200 {
    max-width: 200px;
}

.h-80 {
    height: 80%;
}

.mw-244 {
    max-width: 244px;
}

.mw-424 {
    max-width: 424px;
}

.op-75 {
    opacity: 75%;
}

.footer-link {
    text-decoration: none;
    color: white;
    opacity: .7;
}

.footer-link:hover {
    opacity: 100% !important;
    color: white;
}

.small-card {
    padding: 34px;
    width: 244px;
    border: 1px solid #00000029;
    border-radius: 16px;
    margin: auto;
    margin-top: 20px;
}

.small-card:hover {
    box-shadow: 0px 8px 24px 0px #26323814;
    border: none;
}

.big-card {
    border-radius: 16px;
    background: #FFFFFF;
    max-width: 424px;
    margin: auto;
    border: 1px solid #00000029
}

.big-card:hover {
    box-shadow: 0px 8px 24px 0px #26323814;
    border: none;
    transition: all .2s ease-in-out;
}

.bg-light-blue {
    background-color: var(--color-light-blue);
}

.card-3 {
    background-color: white;
    border: 1px solid #00000029;
    border-radius: 16px;
    max-width: 312px;
    margin: auto;
    /* height: 370px; */
}

.card-3:hover {
    box-shadow: 0px 8px 24px 0px #26323814;
    border: none;
}

.card-4 {
    background-color: white;
    border-radius: 16px;
    max-width: 312px;
    border: 1px solid #00000029;
    transition: all .2s ease-in-out;
}

.card-4:hover {
    background-color: var(--color-sky-blue);
    color: white;
    transition: all .2s ease-in-out;
}

.card-4:hover svg path {
    fill: white;
    transition: all .2s ease-in-out;
}

.card-4:hover h1 {
    background-color: #69B1ff;
    color: white;
    transition: all .2s ease-in-out;
}

.card-4:hover button {
    background-color: white;
    transition: all .2s ease-in-out;
}

.heading-special {
    background-color: var(--color-light-blue);
    transition: all .2s ease-in-out;
}

.register-btn {
    background-color: transparent;
    color: var(--color-sky-blue);
    border: 1px solid #58A8FF;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
}

.hero-div {
    background-color: white;
    box-shadow: 0px 8px 24px 0px #26323814;
    border-radius: 40px;
    /* position: relative; */
    padding: 18px 20px;
    max-width: 968px;
    margin: auto;
    transform: translate(0, -132%);
    color: #808080;
}

.hero-btn {
    background-color: var(--color-sky-blue);
    padding: 12px 32px;
    border-radius: 115px;
    color: white;
    border: 1px solid transparent;
}

@media (min-width:992px) {
    .nav-link {
        position: relative;
        padding: 12px 0 !important;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 4px;
        background-color: #58A8FF;
        left: 0;
        bottom: 0;
        border-radius: 2px;
    }

    .nav-link:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #58A8FF;
        left: 0;
        bottom: 0;
        border-radius: 2px;
    }

    .active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #58A8FF;
        left: 0;
        bottom: 0;
        border-radius: 2px;
    }
}

@media (max-width:576px) {
    .hero-div {
        padding: 10px 15px;
        max-width: 200px;
        margin: auto;
        transform: translate(0, -70%);
        color: #808080;
    }
}

/*===================================== NAVBAR===================================== */

.navbar-wrapper .navbar-btns button:hover {
    background-color: transparent;
    color: #0ed145;
}

.navbar-wrapper .navbar-btns button:hover .cmmg-soon {
    display: inline-block;
}

.navbar-wrapper .navbar-btns button:hover .launch-app {
    display: none;
}

.navbar-wrapper .nav-items-list a {
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    font-weight: 600;
    color: #656565;
    position: relative;
}

.navbar-wrapper .nav-items-list a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0%;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #0ed145;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-wrapper .nav-items-list a:hover:after {
    width: 100%;
    left: 0;
}

.navbar-wrapper .search-icon {
    z-index: 4;
}

.navbar-wrapper .hamburger-menu {
    position: relative;
    width: 29px;
    cursor: pointer;
    height: 25px;
}

.navbar-wrapper .first {
    top: 0;
    -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .sec {
    top: 11px;
    background: #ffffff;
    -webkit-transition: all 0ms 300ms;
    transition: all 0ms 300ms;
}

.navbar-wrapper .third {
    top: 22px;
    -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    left: 0;
}

.navbar-wrapper .animate .sec {
    opacity: 0;
}

.navbar-wrapper .animate .first {
    top: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .animate .third {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .hamburger-menu.animate span {
    background-color: #ffffff;
    z-index: 1;
}


.overlay-btns button:hover {
    background-color: transparent;
    color: #ffffff;
}

@media (max-width:992px) {

    .overlay-links {
        color: #ffffff;
        opacity: 0.7;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .overlay-links:hover {
        opacity: 1;
    }

    .mobile-view #overlay {
        -webkit-transition: 0.7s ease;
        transition: 0.7s ease;
        opacity: 1;
        pointer-events: all;
        margin-top: 0%;
    }

    .mobile-view #overlay .left {
        opacity: 1;
        width: 100%;
        height: 100vh;
    }

    .mobile-view #overlay .left .copyright a {
        font-size: 18px;
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left .copyright a:hover {
        text-decoration: none;
    }

    .mobile-view #overlay .left ul li:nth-child(1) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(2) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(3) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(4) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(5) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.3s;
        animation-delay: 1.3s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(6) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li a {
        font-size: 30px;
        color: #ffffff;
        text-decoration: none;
    }


}

#overlay {
    -webkit-transition: 1s ease !important;
    transition: 1s ease !important;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #58A8FF;
    width: 100%;
    height: 100%;
    pointer-events: none;
    margin-top: -50%;
    z-index: 1;
}

@media (min-width: 576px) {
    .mobile-view #overlay .left ul li a {
        font-size: 40px;
    }
}

@-webkit-keyframes mymove {
    from {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes mymove {
    from {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
}

.left,
.right {
    opacity: 0;
}

.left li,
.right li {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.left li a,
.right li a {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 576px) {

    .left li a,
    .right li a {
        font-size: 40px;
    }
}